<!--<%= render partial: 'charges/new'%>-->

<div class="modal fade" id="sponsorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

<% if person_signed_in? %>

  <% if @tournament.sponsorships != [] %>

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Become a Sponsor</h4>
      </div>
      <div class="modal-body text-justify">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <%= form_for :sponsor, url: {:controller =>'sponsors', :action => 'create'}, :html => {:id => 'sponsor-form'} ,method:'post' do |f| %>

            <%= f.label 'Sponsorship Type'%><text class='text-danger'>*</text>
            <div >
             <%= f.select :sponsorship_id, options_for_select(@tournament.sponsorships.collect { |item| [item.name + ' $' + (item.price).to_s, item.id]}.sort.insert(0,""), 0), {id: "sponsor_sponsorship_id"}, {class: 'form-control'}%>
            </div>

            <%= f.label :'Website URL', class: 'text-justify'%>
            <%= f.text_field(:websiteURL, :placeholder => 'www.GOLF.com',class: 'form-control') %>


            <%= f.label :'@Twitter' %>
            <%= f.text_field(:twitterLink, :placeholder => '@cl0ud9Twitter',class: 'form-control') %>

            <%= f.label :'Facebook' %>
            <%= f.text_field(:fbLink, :placeholder => 'facebook.com/cl0ud9',class: 'form-control') %>

            <%= f.label :'Snapchat' %>
            <%= f.text_field(:snapchatHandle, :placeholder => 'cl0ud9Snapchat',class: 'form-control') %>


            <%= f.hidden_field :person_id, :value => current_person.id %>
            <%= f.hidden_field :tournament_id, :value => @tournament.id %>

            <!-- TODO: Gotta also not allow this continue if not paid -->
            <!-- if success -->
            <!--<%= f.submit 'Proceed to Payment', class: 'btn btn-primary', id: 'add_sponsor_btn'%>-->
            <!-- else-->
            <!--payment failed error-->
            <% end %>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6 col-md-offset-3">
            <%= form_for :charges, url: charges_path, :html => {:id => 'payment-form'}  do |f|%>
                <article>
                  <% if flash[:error].present? %>
                      <div id= "error_explanation">
                        <p><%= flash[:error] %></p>
                      </div>
                  <% end %>
                  <%= f.hidden_field :amount, :value => '100' %>
                  <%= f.hidden_field :sponsor_id, :value => '16' %>

                  <label class="amount">
                    <span>Amount: $<%= '100' %> </span>
                  </label>

                  <div class="form-group">
                    <label>
                      <span>Your email</span>
                      <input type="text" size="20" data-stripe="email" name="name">
                    </label>
                  </div>

                  <div class="form-group">
                    <label>
                      <span>Card Number</span>
                      <input type="text" size="20" data-stripe="number" name="number">
                    </label>
                  </div>

                  <div class="form-group">
                    <label>
                      <span>Expiration (MM/YY)</span>
                      <input type="text" size="2" data-stripe="exp_month"  name="expiry">
                    </label>
                    <span> / </span>
                    <input type="text" size="2" data-stripe="exp_year" >
                  </div>

                  <div class="form-group">
                    <label>
                      <span>CVC</span>
                      <input type="text" size="4" data-stripe="cvc"  name="cvc">
                    </label>
                  </div>


                  <input type="button" class="submit" id = "sib" value="Submit Payment">
            <% end %>
            </article>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!--empty now for spacing purposes-->
      </div>

    </div>

    <% else %>
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">ERROR</h4>
       </div>
       <div class="modal-body">
        <h3>
          There are no sponsorships available for this tournament
        </h3>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
       </div>
     </div>

    <% end %>

<% else %>

    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">ERROR</h4>
        </div>
        <div class="modal-body">
          <h3>
          You must be signed in to become a Sponsor of this tournament
          </h3>
        </div>
        <div class="modal-footer">
            <a href=<%=new_person_session_path %> class="btn btn-primary data-toggle="modal">Log In</a>
            <a href=<%=new_person_registration_path %> class="btn btn-primary data-toggle="modal">Sign Up</a>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
      </div>

  <% end %>

  </div>
</div>
<script>
  $(document).ready(function () {
    console.log("DOCUMENT> READY !!");
    var $form = $('#payment-form');
    var $sponsor_form = $("#sponsor-form")
    Stripe.setPublishableKey('pk_test_RgnPfafPCKHSojLKReicFHiz');

    $("#sib").on('click',function (e) {
      console.log("Clicked submit!");
      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);
      // Prevent the form from being submitted:
    });

    function stripeResponseHandler(status, response) {
      // Grab the form:
      var $form = $('#payment-form');
      if (response.error) { // Problem!
        console.log("ERROR!");
      } else { // Token was created!
        // Get the token ID:
        var token = response.id;
        console.log("TOKEN: "+ token);
        // Insert the token ID into the form so it gets submitted to the server:
        $sponsor_form.append($('<input type="hidden" name="stripeToken">').val(token));
        // Submit the form:
        $sponsor_form.get(0).submit();
      }
    }
  });
</script>
