<%= form_for @message, url: contact_path do |message_form| %>
  <div class="container">
    <div class = "row">
      <div class = "col-md-12 col-sm-12">
       <h2> Contact Us </h2>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-6 col-sm-12" style = "padding-top :25px;">
       <h5> Questions, Comments, Hate Mail? </h5>
     </div>
   </div>


   <div class = "row">
     <div class = "col-md-4 col-sm-12" style = "padding-top :25px;">
      <%= message_form.text_field :name, placeholder: "Name", class: "form-control" %>
    </div>
  </div>


  <div class = "row">
    <div class = "col-md-4 col-sm-12" style = "padding-top :25px;">
      <%= message_form.email_field :email, placeholder: "Email", class: "form-control" %>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-4 col-sm-12" style = "padding-top :25px;">
      <%= message_form.text_area :content, placeholder: "Message", class: "form-control", rows: "3" %>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-6 col-sm-12" style = "padding-top :25px;">
      <%= message_form.submit "Send", class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
