<% provide(:title, 'Sign up') %>
<div class="container">
	
	<h1>Sign up for a cl0ud9 account!</h1>

	<form>
		<%= form_for(@person) do |f| %>

			<div class="form-group row">
				<div class="col-sm-2 col-form-label">
					<%= f.label :'First Name' %>
					</div>
					<div class="col-sm-3">
						<%= f.text_field :fName %>
				</div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">
					<%= f.label :'Last Name' %>
					</div>
					<div class="col-sm-3">
					<%= f.text_field :lName %>
				</div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">
					<%= f.label :email %>
					</div>
					<div class="col-sm-3">
					<%= f.email_field :email %>
				</div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">
					<%= f.label :password %>
					</div>
					<div class="col-sm-3">
					<%= f.password_field :pword %>
				</div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">
					<%= f.label :password_confirmation, "Confirm Password" %>
					</div>
					<div class="col-sm-3">
					<%= f.password_field :password_confirmation %>
				</div>
			</div>

			<%= f.submit "Create my account", class: "btn btn-primary" %>
		<% end %>
	</form>
</div>
