<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= javascript_include_tag ('player_show.js') %>
    <title>Profile page</title>

    <!--<%= debug @golf_course_people%>-->
    <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Second Featurette -->
        <div class="featurette" id="services">
          <%= cl_image_tag(@player.profilePicLink, :width => 450, :height => 450, :crop => :fill, :class => 'featurette-image img-circle img-responsive pull-left')%>
            <h2 class="featurette-heading"><%= @player.fName %>
                <span class="text-muted"><%= @player.lName %></span>
            </h2>

            <p><%= @player.email %></p>
            <p><%= @player.birthDate %></p>
            <p><%= @player.twitterLink %></p>
            <p><%= link_to cl_image_tag('logo-facebook.svg'), @player.fbLink %></p>
            <p>ID: <%= @player_id %></p>

        </div>
        <hr class="featurette-divider">

      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs float-xs-left">
            <% if @golf_courses != nil %>
                <li class="nav-item">
                  <a class="nav-link" id = "nav-0">Your Golf Courses</a>
                </li>
            <%end%>
            <% if @tournaments_golf_courses != nil %>
                <li class="nav-item">
                  <a class="nav-link" id = "nav-1" >Hosted Tournaments</a>
                </li>
            <%end%>
            <% if @tournaments_sponsors != nil %>
                <li class="nav-item">
                  <a class="nav-link" id = "nav-2">Sponsored Tournaments</a>
                </li>
            <%end%>
            <% if @tournaments_players != nil %>
                <li class="nav-item" >
                  <a class="nav-link" id = "nav-3">Playing Tournaments</a>
                </li>
            <%end%>
            <% if @tournaments_organizers != nil%>
                <li class="nav-item" >
                  <a class="nav-link" id = "nav-4">Organizing Tournaments</a>
                </li>
            <%end%>
          </ul>
        </div>
        <!--loop through and display the golf courses-->

            <div class="card-block" id = "card-0">
              <h4 class="card-title">Golf Course Name</h4>
              <p class="card-text">Address</p>
              <p class="card-text">Email</p>
              <a href="#" class="btn btn-primary">Edit</a>
            </div>

            <div class="card-block" id = "card-1">
              <h4 class="card-title">Hosted Tournament</h4>
              <p class="card-text">Address</p>
              <p class="card-text">Email</p>
              <a href="#" class="btn btn-primary">Edit</a>
            </div>
            <div class="card-block" id = "card-2">
              <h4 class="card-title">Sponsored Tournament</h4>
              <p class="card-text">Address</p>
              <p class="card-text">Email</p>
              <a href="#" class="btn btn-primary">Edit</a>
            </div>
            <div class="card-block" id = "card-3">
              <h4 class="card-title">Playing Tournament</h4>
              <p class="card-text">Address</p>
              <p class="card-text">Email</p>
              <a href="#" class="btn btn-primary">Edit</a>
            </div>

            <div class="card-block" id = "card-4">
              <h4 class="card-title">Organizing Tournament</h4>
              <p class="card-text">Address</p>
              <p class="card-text">Email</p>
              <a href="#" class="btn btn-primary">Edit</a>
            </div>


      </div>
      <div class="jumbotron" id = "no-data">
        <p>You are not playing, sponsoring, organizing or hosting a tournament!</p>
      </div>
    </div>

</body>
</html>
