<!--this is a partial form view for the modal in the welcome page which shows the form for adding a golf course-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <% if person_signed_in? %>
        <!--<%= debug current_person %>-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Golf Course Form</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <!--by doing form_for @golf_course it is already checking if the object exists
                    if NOT then it goes to create else it goes to the update functions in the golf_C -->
                <%= form_for golf_course, method:'post' do |f| %>

                    <!--change the fonts around-->
                    <div class="text-danger">
                      <h4> 
                        Required
                      </h4>
                    </div>

                    <%= f.label :'Golf Course Name:' %>
                    <%= f.text_field(:name, :placeholder => '',class: 'form-control') %>

                    <%= f.label :'Contact Email:' %>
                    <%= f.email_field(:email,  :placeholder => '',class: 'form-control') %>

                    <%= f.label :'Address:' %>
                    <%= f.text_field(:addrStreetNum, :placeholder => '#', class: 'form-control') %>

                    <%= f.label :'Street Name:' %>
                    <%= f.text_field(:addrStreetName,  :placeholder => '',class: 'form-control') %>

                    <%= f.label :'Zip Code:' %>
                    <%= f.text_field(:addrPostalCode,  :placeholder => 'ex. A1B 2C3',class: 'form-control') %>

                    <%= f.label :'Country:' %>
                    <%= f.text_field(:addrCountry,  :placeholder => '',class: 'form-control') %>


                    <br>

                    <div class="">
                      <h4>
                      Optional
                      </h4>
                    </div>
                    <%= f.label :'Phone:' %>
                    <%= f.text_field(:phone, :placeholder => 'ex. 4165550000',class: 'form-control') %>

                    <%= f.label :'Logo Link:' %>
                    <%= f.text_field(:logoLink,  :placeholder => 'ex. imgur.com/mylogo.jpg',class: 'form-control') %>

                    <%= f.label :'Website Url:' %>
                    <%= f.text_field(:websiteURL,  :placeholder => '',class: 'form-control') %>

                    <%= f.label :'Capacity:' %>
                    <%= f.text_field(:capacity,  :placeholder => '',class: 'form-control') %>
                    
                    <!--because you want to save a golf course person as well-->
                    <%= f.hidden_field :person_id, :value => current_person.id %>

                    <%= f.submit 'Create Golf Course', class: 'btn btn-primary', id: 'add_golf_course_btn'%>
                <% end %>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!--empty now for spacing purposes-->
          </div>
        </div>
    <% else %>
        <div class="modal-content panel-danger">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">ERROR</h4>
          </div>
          <div class="modal-body">
            <h3>
              You must be signed in to advertise your golf course
            </h3>
          </div>
          <div class="modal-footer">
            <a href=<%=new_person_session_path %>="button" class="btn btn-primary data-toggle="modal">Log In</a>
            <a href=<%=new_person_registration_path %>="button" class="btn btn-primary" data-toggle="modal">Sign Up</a>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
    <% end %>
  </div>
</div>