<table class="table">
  <tr>
    <td><%= @tournament.shortDesc %></td>
  </tr>
  <tr>
    <td><%= @host_name %></i></td>
  </tr>
  <tr>
    <td><%= @tournament.numGuests%> Players</td>
  </tr>
  <tr>
    <td><strong>Date:</strong> <%= @tournament.tournamentDate %></td>
  </tr>
  <tr>
    <td><strong>Location:</strong> <br>
         <%= @course_name %> <br>
         <%= @course__address %> <br>
         <%= @course__phone %> <br>
    </td>
  </tr>
</table>
