<table class="table table-striped">
  <tr>
    <td><%= @tournament.shortDesc %></td>
  </tr>
  <tr>
    <td><%= @tournament.numGuests - @tournament.ticketsLeft%> Players attending</td>
  </tr>
  <tr>
    <td><strong>Host: </strong><%= @host_name %>
    <% if @host_name == "None." and organize%>
      <a href="#createHostModal" role="button" class="btn btn-primary pull-right" data-toggle="modal">Add the host</a>
    <%end%>
  </tr>
  <tr>
    <td><strong>Link: </strong><%= link_to tournament_url_with_privacy(@tournament) %></td>
  </tr>
  <tr>
    <td><strong>Date: </strong> <%= @tournament.tournamentDate.strftime("%A, %B %d, %Y") %>
  </tr>
  <tr>
    <td>
      <strong>Time: </strong>
      <% get_time_from_tournament_date(@tournament) %>
      <% if @hour == 0 and @minute == 0 %>
        No time set yet!
      <% else %>
        <%= @tournament.tournamentDate.strftime("%H:%M %p") %>
      <% end %>
      <% if not organize.nil? and organize %>
        <a href="#setdatetimeModal" role="button" class="btn btn-xs glyphicon glyphicon-pencil pull-right" style="padding: 0 10px;" data-toggle="modal"></a>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong>Location: </strong> <br>
         <%= @course_name %> <br>
         <%= @course__address %> <br>
         <%= @course__phone %> <br>
    </td>
  </tr>
</table>
