
<div class="row container col-md-12" >
  <div class='nested-fields'>
    <div style="background-color: #eee">
      <br>
      <div class="row">
        <div class="field col-md-4 col-md-offset-2">
          <%= t.label :name, "Name" %>
        </div>
        <div class="col-md-4 col-md-offset-0">
          <%= t.text_field(:name, class: 'form-control') %>
        </div>
      </div>

      <br>

      <div class="row">  
        <div class="field col-md-4 col-md-offset-2">
          <%= t.label :price, "Price" %>
        </div>
        <div class="col-md-4 col-md-offset-0">
          <%= t.text_field(:price, class: 'form-control') %> 
        </div>
      </div>
    
      <br>

      <div class="row">
        <div class="field col-md-4 col-md-offset-2">
          <%= t.label :numPlayers, "Players per ticket" %>
        </div>
        <div class="col-md-4 col-md-offset-0">  
          <%= t.text_field(:numPlayers, class: 'form-control') %>
        </div>
      </div>
      
      <br>
      
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= link_to_remove_association "Remove this ticket", t, class:'btn btn-danger btn-sm' %>
        </div>
      </div>
      <br>
    </div>
    <br>
  </div>
</div>