<h1>Tournament Schedule</h1>
<h2>There are <%= @count%> upcoming tournaments</h2>
<div class="pull-right">
  <a class="btn btn-primary" href="#">Create New</a>
</div>
<table>
	<thead>
  	<tr>
			<th class="dates">
				<div class="dates-container">
					Dates
					<span class="arrow-link arrow-link-down"></span>
				</div>
			</th>
			<th class="tournament">
				<div class="tournament-container">
					Tournament
					<span class="arrow-link arrow-link-down"></span>
				</div>
			</th>
			<th class="links">
				<div class="links-container">
					Links
					<span class="arrow-link arrow-link-down"></span>
				</div>
			</th>
 		</tr>
	</thead>

	<tbody>
  	<% @tournaments.each do |tourney| %>
			<tr>
				<td><%= tourney.date%></td>
				<td><%= tourney.name%></td>
				<br><%= tourney.shortDesc%>
				<td><%= link_to "Tournament Page", tourney%></td>
			<!--</tr
    	<tr>
		    <td class="num-date">
					<%= tourney.date%>
				</td>
		    <td class="tournament-name">
					<span><%= tourney.name %></span>
					<br>
						<%= tourney.shortDesc %>
				</td>
    	</tr>-->
  	<% end %>
	</tbody>
</table>

<!-- Map embedding coming soon ... -->
