<%= render partial: 'tournaments/edit'%>
<%= render partial: 'tournaments/delete'%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1> Organizer Dashboard </h1>
			<h4><%= @tournament.name %></h4>
		</div>
		<div class="col-md-3">
			<div class="pull-right" style="padding-top: 25px;">
				<a href="#editModal" role="button" class="btn btn-primary" data-toggle="modal">Edit</a>
				<%= link_to "Done", {action: "show"}, {role: 'button', class: 'btn btn-primary inline-block'} %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<p class="text-center">
					<strong>Details:</strong>
					<span class="pull-right">
						<i class="btn btn-xs glyphicon glyphicon-pencil" href="#editModal" data-toggle="modal"></i>
						<i class="btn btn-xs glyphicon glyphicon-trash" href="#deleteModal" data-toggle="modal"></i>
					</span>
			</p>
			<%= render(:partial => "info" ,:controller=>"tournament") %>
		</div>
		<div class="col-md-4">
			<p class="text-center">
				<strong>Players</strong>
			</p>
			<table class="table table-striped">
		    	<% @people.each do |person| %>
			  			<tr>
			  				<td><%= person.fName + " " + person.lName %></td>
								<td>
									<span class="pull-right">
									  <i class="btn btn-xs glyphicon glyphicon-search" data-toggle="collapse" href=<%= "#details" + person.id.to_s %> aria-expanded="false" aria-controls=<%= "details" + person.id.to_s %>></i>
									  <i class="btn btn-xs glyphicon glyphicon-pencil"></i>
									  <i class="btn btn-xs glyphicon glyphicon-trash"></i>
									</span>
								</td>
							</tr>
							<tr id=<%= "details" + person.id.to_s %> class="collapse">
								<td>
									<strong>Contact information:</strong><br>
									<%= person.email %> <br>
									<strong>Check-in status:</strong> <br>
									Unknown <br>
									<strong>Tools: </strong><br>
									<span class="btn-group btn-group-sm" role="group">
										<%= link_to "Resend Confirmation", {action: "resend_confirmation", controller: "people", id: person.id, tournament_id: @tournament.id}, {role: 'button', class: 'btn btn-default'} %>
									</span>
								</td>
								<td>
								</td>
							</tr>
		    	<% end %>
			</table>
		</div>
	</div>
</div>
