<%= render partial: 'sponsor/new'%>
<%= render partial: 'people/new'%>
<%= render partial: 'organizer/new'%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1> Organizer Dashboard </h1>
			<h4><%= @tournament.name %></h4>
		</div>
		<div class="col-md-3">
			<div class="pull-right" style="padding-top: 25px;">
				<%= link_to "Done", {action: "show"}, {role: 'button', class: 'btn btn-primary inline-block'} %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<p class="text-center">
					<strong>Details:</strong>
			</p>
			<%= render(:partial => "info" ,:controller=>"tournament") %>
		</div>
		<div class="col-md-4">
			<p class="text-center">
				<strong>Players</strong>
			</p>
			<table class="table table-striped">
		    	<% @people.each do |person| %>
			  			<tr>
			  				<td><%= person.fName + " " + person.lName %></td>
								<td>
									<span class="pull-right">
									  <i class="btn btn-xs glyphicon glyphicon-search" data-toggle="collapse" href=<%= "#details" + person.id.to_s %> aria-expanded="false" aria-controls=<%= "details" + person.id.to_s %>></i>
									  <i class="btn btn-xs glyphicon glyphicon-pencil"></i>
									  <i class="btn btn-xs glyphicon glyphicon-trash"></i>
									</span>
								</td>
							</tr>
							<tr id=<%= "details" + person.id.to_s %> class="collapse">
								<td>
									<strong>Contact information:</strong><br>
									<%= person.email %> <br>
									<strong>Check-in status:</strong> <br>
									Unknown
								</td>
								<td>
								</td>
							</tr>
		    	<% end %>
			</table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<p class="text-center">
				<strong>Organizers</strong>
			</p>
			<div class="pull-left" >
				<a href="#adminModal" role="button" class="btn btn-primary" data-toggle="modal">Add Admin</a>
			</div>
			<table class="table table-striped">
				<% @admins.each do |admin| %>
					<tr>
						<td> <%= admin.person.fName + " " + admin.person.lName%></td>
						<td> <%= admin.person.email %></td>
						<td> <%= admin.permissions %></td>
						<a href 
					</tr>	
				<% end %>
			</table>
		</div>
		<div class="
	</div>

</div>
