<%= render partial: 'tournaments/edit'%>
<%= render partial: 'tournaments/delete'%>
<%= render partial: 'tournaments/email'%>
<%= render partial: 'sponsor/new'%>
<%= render partial: 'people/new'%>
<%= render partial: 'organizer/new'%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1> Organizer Dashboard </h1>
			<h3><%= @tournament.name %></h3>
		</div>
		<div class="col-md-12">
			<div class="jumbotron">
				<strong>You've only filled out <%= 50 %>% of your tournament information! Finish adding details so your customers know what's up!</strong>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pull-right" style="padding-top: 25px;">
				<a href="#editModal" role="button" class="btn btn-primary" data-toggle="modal">Edit</a>
				<% if @tournament.privateURL %>
					<%= link_to "Done", {action: "private_url", key: @tournament.private_url.key}, {role: 'button', class: 'btn btn-primary inline-block'}%>
				<% else %>
					<%= link_to "Done", {action: "show"}, {role: 'button', class: 'btn btn-primary inline-block'} %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<p class="text-center">
					<strong>Details:</strong>
					<span class="pull-right">
						<i class="btn btn-xs glyphicon glyphicon-pencil" href="#editModal" data-toggle="modal"></i>
						<i class="btn btn-xs glyphicon glyphicon-trash" href="#deleteModal" data-toggle="modal"></i>
					</span>
			</p>
			<%= render(:partial => "info" ,:controller=>"tournament") %>
		</div>
		<div class="col-md-4">
			<p class="text-center">
				<strong>Players</strong>
				<i href="#emailModal" role="button" class="btn btn-xs glyphicon glyphicon-envelope pull-right" data-toggle="modal"></i>
			</p>
			<table class="table table-striped">
		    	<% @people.each do |person| %>
			  			<tr>
			  				<td><%= person.fName + " " + person.lName %></td>
								<td>
									<span class="pull-right">
									  <i class="btn btn-xs glyphicon glyphicon-search" data-toggle="collapse" href=<%= "#details" + person.id.to_s %> aria-expanded="false" aria-controls=<%= "details" + person.id.to_s %>></i>
									</span>
								</td>
							</tr>
							<tr id=<%= "details" + person.id.to_s %> class="collapse">
								<td>
									<strong>Contact information:</strong><br>
									<%= person.email %> <br>
									<strong>Check-in status:</strong> <br>
									Unknown <br>
									<strong>Tools: </strong><br>
									<span class="btn-group btn-group-sm" role="group">
										<%= link_to "Resend Confirmation", {action: "resend_confirmation", person_id: person.id}, {role: 'button', class: 'btn btn-default'} %>
										<%= link_to "Refund", {action: "refund", person_id: person.id}, {role: 'button', class: 'btn btn-default'} %>
									</span>
								</td>
								<td>
								</td>
							</tr>
		    	<% end %>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<p class="text-center">
				<strong>Organizers</strong>
			</p>
			<% if @organizer_permissions %>
				<i class="btn btn-xs glyphicon glyphicon-plus" href="#adminModal"  data-toggle="modal"></i>
			<% end %>
			<table class="table table-striped">
				<% @admins.each do |admin| %>
					<tr>
						<td> <%= admin.person.fName + " " + admin.person.lName%></td>
						<td> <%= admin.permissions %></td>
						<td>
							<% if @organizer_permissions %>
							<span class="pull-right">
								<%= link_to 'Delete', :controller => 'organizer', :action => 'destroy', method:'delete', :id => admin.id do %>
									<i class="btn btn-xs glyphicon glyphicon-trash"></i>
								<% end %>
							</span>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

</div>
