<%= render partial: 'tournaments/edit'%>
<%= render partial: 'tournaments/delete'%>
<%= render partial: 'tournaments/email'%>
<%= render partial: 'sponsor/new'%>
<%= render partial: 'organizer/new'%>
<%= render partial: 'players/new'%>
<%= render partial: 'sponsorships/new'%>
<%= render partial: 'tournaments/edit_datetime' %>
<%= render partial: 'scheduled_events/new' %>
<%= render partial: 'unscheduled_events/new' %>
<%= render partial: 'tournaments/update_logo' %>
<%= render partial: 'photos/new' %>
<%= render partial: 'tournaments/create_host' %>

<div class="container">

	<div class="row">
  	<div class = "col-md-12">
  	 <% if @percentage_done < 91.0 %>
		 	<div class="alert alert-warning" role="alert">You've only filled out <%= @percentage_done.round.to_s %>% of your tournament information! Finish adding details so your customers know what's up!</div>
		 <% end %>
	  </div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<h1> Organizer Dashboard </h1>
			<h3><%= @tournament.name %></h3>
		</div>
		<div class="col-md-3">
			<div class="pull-right" style="padding-top: 35px; padding-bottom: 35px;">
				<a href="#editModal" role="button" class="btn btn-primary" data-toggle="modal">Edit</a>
				<a href="#sponsorshipsModal" role="button" class="btn btn-primary" data-toggle="modal">Sponsorship</a>
				<a href=<%= tournament_url_with_privacy(@tournament) %>="button" class="btn btn-primary" data-toggle="modal">Go back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="text-center">
				<strong>Logo</strong>
				<span class="pull-right">
					<i class="btn btn-xs glyphicon glyphicon-pencil" href="#updateLogoModal" data-toggle="modal"></i>
					<%= link_to "", url_for(:action => :delete_logo, :id => @tournament.id), :class => 'btn btn-xs glyphicon glyphicon-trash', :style => 'color: inherit;' %>
				</span>
				<% if not @tournament.logoLink? %>
					<div>
						<a href="#updateLogoModal" role="button" class="btn btn-primary" data-toggle="modal">Add your logo here!</a>
					</div>
				<% else %>
					<div>
				  	<%= cl_image_tag(@tournament.logoLink, :width => 200, :height => 200, :crop => :fill) %>
			  	</div>
		 		 <% end %>
			</div>
		</div>
		<div class="col-md-4">
			<p class="text-center">
				<strong>Details:</strong>
				<span class="pull-right">
					<i class="btn btn-xs glyphicon glyphicon-pencil" href="#editModal" data-toggle="modal"></i>
					<i class="btn btn-xs glyphicon glyphicon-trash" href="#deleteModal" data-toggle="modal"></i>
				</span>
			</p>
			<%= render(:partial => "info" ,:controller=>"tournament", :locals => {organize: @organize}) %>
		</div>
		<div class="col-md-4">
				<p class="text-center">
					<strong>Sales Report</strong>
				</p>
				<table class="table table-striped">
					<tr>
						<td>Total Number of tickets</td>
						<td><%= @tournament.numGuests %></td>
					</tr>
					<tr>
						<td>Tickets Left</td>
						<td><%= @tournament.ticketsLeft %></td>
					</tr>
					<% @sales_by_ticket_types.each do |tt| %>
						<tr>
							<td><%= tt['type'] %> tickets sold</td>
							<td><%= tt['sales'] %></td>
						</tr>
					<% end %>
				</table>
		</div>
	</div>

	<div class= "row">
		<!-- Events and Features -->
		<div class="col-md-4">
			<div class="text-center">
				<strong>Events and Features</strong><br>
			</div>
			<p>
				Build a schedule for your customers here. List all the fantastic stuff you're going to have at your tournament!
			</p>
			<div>
				<p>
					<strong>Schedule</strong>
					<a class="btn btn-xs glyphicon glyphicon-plus pull-right" href="#scheduledEventModal"  data-toggle="modal"></a>
				</p>
				<%= render(:partial => 'scheduled_events/show_schedule' , :locals =>{organize: true}) %>
			</div>
			<div>
				<strong>Features</strong>
				<a class="btn btn-xs glyphicon glyphicon-plus pull-right" href="#featuredEventModal"  data-toggle="modal"></a>
			</div>
			<% if @tournament.unscheduled_events.empty? %>
				<p> Eg. prizes for the longest drive winner... </p>
			<% end %>
			<%= render(:partial => 'unscheduled_events/show_features', :locals =>{organize: true}) %>
		</div>

		<!-- Players -->
		<div class="col-md-4">
			<p class="text-center">
				<strong>Players</strong>
				<i href="#emailModal" role="button" class="btn btn-xs glyphicon glyphicon-envelope pull-right" data-toggle="modal"></i>
			</p>
			<table class="table table-striped">
				<% if @players.empty? %>
					<p class="text-center">Nobody has signed up yet!</p>
				<% else %>
		    	<% @players.each do |player| %>
			  			<tr>
			  				<td><%= player.person.fName + " " + player.person.lName %></td>
								<td>
									<span class="pull-right">
									  <i class="btn btn-xs glyphicon glyphicon-search" data-toggle="collapse" href=<%= "#details" + player.person.id.to_s %> aria-expanded="false" aria-controls=<%= "details" + player.person.id.to_s %>></i>
									</span>
								</td>
							</tr>
							<tr id=<%= "details" + player.person.id.to_s %> class="collapse">
								<td>
									<strong>Contact information:</strong><br>
									<%= player.person.email %> <br>
									<strong>Check-in status:</strong> <br>
									Unknown <br>
                  <strong>Payment Status:</strong> <br>
                  Unknown <br>
									<strong>Tools: </strong><br>
									<span class="btn-group btn-group-sm" role="group">
										<%= link_to "Resend Confirmation", {action: "resend_confirmation", person_id: player.person.id}, {role: 'button', class: 'btn btn-default'} %>
										<%= link_to "Refund", {action: "refund", person_id: player.person.id}, {role: 'button', class: 'btn btn-default'} %>
									</span>
								</td>
							</tr>
		    		<% end %>
	    	<% end %>
			</table>
		</div>

		<!-- Teams -->
		<div class="col-md-4">
			<p class="text-center">
				<strong>Teams</strong>
			</p>
			<table class="table table-striped">
				<% if @teams.empty? %>
					<p class="text-center">No teams built yet!</p>
				<% else %>
					<tr>
						<th>Team ID</th>
						<th>Players</th>
						<th>Tee time</th>
						<th></th>
					</tr>
					<% @teams.each do |team| %>
						<tr>
							<td><%= team.id%></td>
							<td>
								<%= team.numPlayers %>
								<% if team.numPlayers == 4 %>
									<strong> (FULL)</strong>
								<% end %>
							</td>
							<td> <%= team.teeTime.strftime("%H:%M") %></td>
							</td>
						</tr>
					<% end %>
				<% end %>
			</table>
		</div>

		<!-- Organizers -->
		<div class="col-md-4">
			<p class="text-center">
				<strong>Organizers</strong>
				<% if @organizer_permissions %>
				<span class="pull-right">
					<i class="btn btn-xs glyphicon glyphicon-plus" href="#adminModal" data-toggle="modal"></i>
					</span>
				<% end %>
			</p>
			<table class="table table-striped">
				<% @admins.each do |admin| %>
					<tr>
						<td> <%= admin.person.fName + " " + admin.person.lName%></td>
						<td> <%= admin.permissions %></td>
						<td>
							<% if @organizer_permissions %>
							<span class="pull-right">
								<%= link_to "", {controller: "organizer", action: "destroy", id: admin.id}, method:'delete', :class => 'btn btn-xs glyphicon glyphicon-trash' %>
							</span>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
			<% if @admins.length == 1 %>
			<p class="text-center">Add other cl0ud9 users you want to help organize your tournament here!</p>
			<%end%>
		</div>
	</div>

	<!-- Tournament Photos header -->
	<div class="row">
		<div class="col-md-12">
			<h3>Tournament Photos</h3>
			<% if @tournament.photos.length < 4 %>
				<p>
					Add up to 4 pictures to advertise your tournament.
					<a href="#addPhotoModal" role="button" class="btn btn-primary pull-right" data-toggle="modal">Add</a>
				</p>
			<% end %>
		</div>
	</div>

	<!-- Tournament Photos -->
	<div class="row">
		<% if not @tournament.photos.nil? or @tournament.photos.empty? %>
			<% @tournament.photos.each do |photo| %>
				<div class="col-md-3">
					<span class="pull-right">
						<%= link_to "", [@tournament, photo], remote: true, method: :delete, :class => 'btn btn-xs glyphicon glyphicon-trash pull-right', :style => 'color: inherit;' %>
					</span>
					<%= cl_image_tag(photo.photoLink, :width => 200, :height => 200, :crop => :fill)%><br>
				</div>
			<% end %>
		<% end %>
		<% if @tournament.photos.length < 4 %>
		  <div class="col-md-3" style="width:200px;height:200px;border:1px;">
		  	<div class="vertical-align text-center">
		  		<div><br><br>
		  			<a href="#addPhotoModal" role="button" class="btn" data-toggle="modal">
			 			<%= cl_image_tag("10133_igb2ve.png", :width => 100, :height => 100, :crop => :fill) %></a>
			 		</div>
				</div>
			</div>
		<% end %>
	</div>

	<br><br><br>
</div>
