<%= render partial: 'sponsor/new'%>
<%= render partial: 'players/new'%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1><%= @tournament.name %></h1>
		</div>
		<div class="col-md-3">
			<div class="pull-right" style="padding-top: 25px;">
				<% if @sold_out %>
					<a class="btn btn-primary" href="#">Sold out!</a>
				<% else %>
					<a href="#playerModal" role="button" class="btn btn-primary" data-toggle="modal">Sign up</a>
				<% end %>
				<a href="#sponsorModal" role="button" class="btn btn-primary" data-toggle="modal">Sponsor</a>
				<% if @tournament_organizer %>
					<%= link_to "Organize", {action: "organize"}, {role: 'button', class: 'btn btn-primary inline-block'} %>
				<% end %>
			</div>
		</div>
	</div>

		<div class="row col-md-12">
				<h3>Details:</h3>
		</div>

		<div class="row">
			<!-- information table -->
			<div class="col-md-4">
				<%= render(:partial => "info" ,:controller=>"tournament") %>
			</div>

			<!-- Image -->
			<div class="col-md-8">
				<div class="pull-right">
			  	<%= cl_image_tag(@tournament.logoLink, :width => 200, :height => 200, :crop => :fill)%>
				</div>
			</div>
		</div>

		<!-- Map -->
	  <div id="map-container">
	    <div class="text-center">
	      <iframe width="800" height="300" frameborder="0" style="border:0"
	          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDMbwpEJjsPHGYafnf9848Yw9LYoero6Ow&q=<%= @course_address %>"
	          allowfullscreen>
	      </iframe>
	    </div>
	  </div>
</div>
