<%= render partial: 'sponsor/new'%>
<%= render partial: 'players/new'%>
<%= render partial: 'invite/new'%>
<div class="container">
	<div class="row">
		<div class="col-md-8">
		<!-- Image -->
			<% if @tournament.logoLink? %>
	          <%=cl_image_tag(@tournament.logoLink, :width => 50, :height => 50, :crop => :fill,  :class => 'featurette-image img-circle img-responsive pull-left')%>

			<% end %>
			<h1><%= @tournament.name %></h1>
		</div>
		<div class="col-md-4">
			<div class="pull-right" style="padding-top: 25px;">
        <a href="#inviteModal" role="button" class="btn btn-primary" data-toggle="modal">Invite</a>
				<% if @sold_out %>
					<a class="btn btn-primary btn-danger" href="#">Sold out!</a>
				<% else %>
					<a href="#playerModal" role="button" class="btn btn-primary" data-toggle="modal">Sign up</a>
				<% end %>
				<a href="#sponsorModal" role="button" class="btn btn-primary" data-toggle="modal">Sponsor</a>
				<% if @tournament_organizer %>
					<%= link_to "Organize", {action: "organize"}, {role: 'button', class: 'btn btn-primary'} %>
				<% end %>
			</div>
		</div>
	</div>

		<div class="row col-md-12">
				<h3>Details:</h3>
		</div>

		<div class="row">
			<!-- information table -->
			<div class="col-md-4">
				<%= render(:partial => "info" ,:controller=>"tournament", :locals =>{organize: false}) %>
			</div>
			<div class="col-md-4">
			<% @tournament.photos.each do |photo| %>
				<% if photo.photoLink? %>
					<%=cl_image_tag(photo.photoLink, :width=>150, :height=>150, :crop => :fill)%>
				<% end %>
			<%end %>
			</div>
			<div class="col-md-4">
			 <% if not @tournament.scheduled_events.length == 0 %>
			 	<h3>Schedule</h3>

				<%= render(:partial => "scheduled_events/show_schedule" , :locals =>{organize: false}) %>
			 <%end%>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<% if not @tournament.unscheduled_events.length == 0 %>
					<h3>Features</h3>
					<%= render(:partial => "unscheduled_events/show_features" , :locals =>{organize: false}) %>
				<% end %>
			</div>
		</div>
		<!-- Map -->
	  <div id="map-container">
	    <div class="text-center">
	      <iframe width="800" height="300" frameborder="0" style="border:0"
	          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDMbwpEJjsPHGYafnf9848Yw9LYoero6Ow&q=<%= @course_address %>"
	          allowfullscreen>
	      </iframe>
	    </div>
	  </div>
</div>
