<!--
LT: Notices mess with Alerts, how will we solve this?
<p id="notice"><%= notice %></p>
-->
<!--BANNER CONTAINER STARTS---------->
<!--<% if person_signed_in? %>-->
    <!--<%= debug current_person %>-->
<!--<% end %>-->

<!--<%= debug @print_golf_courses %>-->
<!--<%= debug @new_golf_course_person %>-->

<div id = "main-container" class = "container">
  <div class = "row">
    <div class = "column-sm-9">
      <div class="jumbotron">
        <h1>Welcome to Cl0ud9!</h1>
        <p>A platform designed to help you create, join and sponsor golf tournaments!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>

<!--BANNER CONTAINER ENDS-------------------->

<!--the modal is rendered here but toggled through the button for advertising golf course-->
<%= render partial: 'golf_courses/new', :locals => {golf_course:@golf_course}%>
<div id = "user-selection" class = "container">

  <div class = "row">
    <div class = "col-sm-4">
      <a href="#myModal" role="button" class="list-group-item list-group-item-action" data-toggle="modal">
        <div class = "row">
          <div class ="col-sm-3">
             <span class = "glyphicon glyphicon-pencil"></span>
          </div>
          <div class = "col-sm-9">
            <h4 class="list-group-item-heading">Want to advertise your golf course?</h4>
            <p class="list-group-item-text">Click here and have others organize tournaments at your golf course!</p>
          </div>
          
        </div>
      </a>
    </div>
    <div class = "col-sm-4">
      <a href="#" class="list-group-item list-group-item-action">
        <div class = "row">
          <div class ="col-sm-3">
            <span class = "glyphicon glyphicon-calendar"></span>
          </div>
          <div class = "col-sm-9">
            <h4 class="list-group-item-heading">Want to create your own tournament?</h4>
            <p class="list-group-item-text">Click here and have us manage your tournament in minutes!</p>
          </div>

        </div>
      </a>
    </div>
    <div class = "col-sm-4">
      <a href="#" class="list-group-item list-group-item-action">
        <div class = "row">
          <div class ="col-sm-3">
            <span class = "glyphicon glyphicon-play"></span>
          </div>
          <div class = "col-sm-9">
            <h4 class="list-group-item-heading">Want to play in a tournament?</h4>
            <p class="list-group-item-text">Browse and join any of the tournaments happening around you!</p>
          </div>

        </div>
      </a>
    </div>

  </div>

</div>

<!--TOURNAMENTS CONTAINER STARTS------------->

<!--TODO: needs font edits-->
<div id = "tournaments-home" class = "container">
  <div class="row">
    <div class="col-sm-4">
      <!--TODO:place the map or some other part here on the left-->
      <div class="jumbotron" id = "google-maps-div">
        <p>Google maps coming soon!</p>
      </div>
    </div>
    <div class="col-sm-8">
      <h2>Upcoming Tournaments:</h2>
        <div class="list-group">
          <%= render partial: 'people/tournament_tabs', :locals => {tournaments_passed_in:@tournaments}%>
        </div>
      </div>
  </div>
</div>

<!--TOURNAMENT CONTAINER ENDS-------------->


