<p id="notice"><%= notice %></p>


<!--BANNER CONTAINER STARTS---------->

<div id = "main-container" class = "container">
  <div class = "row">
    <div class = "column-sm-9">
      <div class="jumbotron">
        <h1>Welcome to Cl0ud9!</h1>
        <p>A platform designed to help you create, join and sponsor golf tournaments!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>

<!--BANNER CONTAINER ENDS-------------------->

<!--TOURNAMENTS CONTAINER STARTS------------->

<!--TODO: needs font edits-->
<div id = "tournaments-home" class = "container">
  <div class="row">
    <div class="col-sm-4">
      <!--TODO:place the map or some other part here on the left-->
    </div>
    <div class="col-sm-8">
      <h2>Upcoming Tournaments:</h2>
        <div class="list-group">
          <% @tournaments.each do |tournament|%>
              <a href="#" class="list-group-item list-group-item-action">
                <!--sample item in the list-->
                <div class="row">

                  <!--first column image-->
                  <div class = "col-sm-2">
                    <!--TODO: need to make the images alot smaller-->
                    <!--<img src=<%= tournament.logoLink %>>-->
                  </div>

                  <!--second column of info-->
                  <div class = "col-sm-6">
                    <!--TODO: add timer for showing when registration ends-->
                    <h4 class="list-group-item-heading"><%= tournament.name %></h4>
                    <p class="list-group-item-text"><%= tournament.tournamentDate.to_time.strftime('%B %e')%></p>
                  </div>

                  <!--third column-->
                  <div class = "col-sm-4">
                    <p class="list-group-item-text">Attending: <%= tournament.numGuests%> players</p>
                  </div>

                </div>
              </a>
          <% end %>
        </div>
      </div>
  </div>
</div>

<!--TOURNAMENT CONTAINER ENDS-------------->


