<div class="modal fade" id="scheduledEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Build your schedule</h4>
      </div>
      <div class="modal-body text-justify">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <%= form_for :scheduled_event, url: {:controller =>'scheduled_events', :action => 'create'}, method:'post' do |f| %>

            <%= f.label 'Short Description' %>
            <%= f.text_area(:description) %><br>

            <%= f.label 'Time' %>
            <%= f.time_select(:startTime, {minute_step: 15}) %>
            <div>
            <br>
            <br>
            </div>
            <%= f.hidden_field :tournament_id, :value => @tournament.id %>


            <%= f.submit 'Add', class: 'btn btn-primary pull-right', id: 'add_player_btn'%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!--empty now for spacing purposes-->
      </div>
    </div>

  </div>
</div>
