<div class="container">
  <h2>Welcome Back!</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <form>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <div class="form-group">
          <span class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary'%>
          </span>
          <span>
            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
              <%= f.label :"Remember Me" %>
            <% end -%>
          </span>
        </div>  

      </form>
    <% end %>
  <%= render "devise/shared/links"%>
</div>