<!-- Partial Page for Player _new.html.erb -->

<!-- Style Sheets *Quick CSS -->
<style>
  /* Padding - just for asthetics on Bootsnipp.com */
  body { margin-top:20px; }

  /* CSS for Credit Card Payment form */
  .credit-card-box .panel-title {
      display: inline;
      font-weight: bold;
  }
  .credit-card-box .form-control.error {
      border-color: red;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
  }
  .credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
  }
  .credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
  }
  .credit-card-box label {
      display: block;
  }
  /* The old "center div vertically" hack */
  .credit-card-box .display-table {
      display: table;
  }
  .credit-card-box .display-tr {
      display: table-row;
  }
  .credit-card-box .display-td {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
  }
  /* Just looks nicer */
  .credit-card-box .panel-heading img {
      min-width: 180px;
  }
</style>

<!-- Start of Page Div -->
<div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">

  <!-- Signed In -->
  <% if person_signed_in? %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Play this tournament!</h4>
      </div>
      <div class="modal-body text-justify">
        <!-- Start of ROW  -->
        <div class="row">
          <div class="col-md-8 col-md-offset-2" style="padding-bottom:10%;padding-top:10%">
          <%= form_for :player, url: {:controller =>'players', :action => 'create'}, :html=>{:id => 'player-form'}, method:'post' do |f| %>

            <%= f.label :'ticket_type_id' %><text class='text-danger'>*</text>
              <select name="player[ticket_type_id]" id="player_ticket_id_ticket_type_id" class="form-control">
                  <%= options_from_collection_for_select(@tournament.ticket_types, 'id', :select_option)%>
              </select>

            <%= f.label 'Quantity' %><text class='text-danger'>*</text><br>
            <%= f.number_field :'numTickets', min: 1, max: @tournament.ticketsLeft, step: 1, value: 1, class: 'form-control' %>
            <%= f.hidden_field :person_id, :value => current_person.id %>
            <%= f.hidden_field :tournament_id, :value => @tournament.id %>

            <!-- Payments Stuff -->
              <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
              <div class="panel-heading display-table" >
                <div class="row display-tr" >
                    <h3 class="panel-title display-td" >Payment Details</h3>
                    <div class="display-td" >                            
                      <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                    </div>
                </div>                    
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="cardNumber">CARD NUMBER</label>
                        <div class="input-group">
                          <input 
                            type="tel"
                            class="form-control"
                            name="number"
                            placeholder="Valid Card Number"
                            data-stripe="number"
                            autocomplete="cc-number"
                            required autofocus 
                          />
                          <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                        </div>
                    </div>                            
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-7 col-md-7">
                    <div class="form-group">
                      <label>
                      <span>Expiration (MM/YY)</span>
                      <input type="text" size="2" data-stripe="exp_month"  name="expiry">
                      </label>
                    <span> / </span>
                    <input type="text" size="2" data-stripe="exp_year" >
                    </div>
                  </div>
                  <div class="col-xs-5 col-md-5 pull-right">
                    <div class="form-group">
                      <label for="cardCVC">CV CODE</label>
                        <input 
                          type="tel" 
                          class="form-control"
                          name="cvc"
                          data-stripe="cvc"
                          placeholder="CVC"
                          autocomplete="cc-csc"
                          required
                        />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="couponCode">COUPON CODE</label>
                        <input type="text" class="form-control" name="couponCode" />
                    </div>
                  </div>                        
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <input type="button" class="submit" id = "sib2" value="Submit Payment"/>
                  </div>
                </div>
                <div class="row" style="display:none;">
                  <div class="col-xs-12">
                    <p class="payment-errors"></p>
                  </div>
                </div>
              </div>
            </div>            
              <!-- CREDIT CARD FORM ENDS HERE -->
            
            <!--  End of Payment Stuff -->
          <% end %>
          </div>
        </div>
        <!-- End of Row -->
      <!-- End of modal body -->
      </div>
      <div class="modal-footer">
        <!--empty now for spacing purposes-->
      </div>
    </div>

  <!-- NO One Signed In -->
  <% else %>
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">ERROR</h4>
        </div>
        <div class="modal-body">
          <h3>
          You must be signed in to become a player of this tournament
          </h3>
        </div>
        <div class="modal-footer">
            <a href=<%=new_person_session_path %> class="btn btn-primary data-toggle=modal">Log In</a>
            <a href=<%=new_person_registration_path %> class="btn btn-primary data-toggle="modal">Sign Up</a>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
      </div>
  <% end %>
  <!-- End of No One Signed In -->


  </div>
</div>
<!-- End of Page Div -->

<!-- JS  -->
  <!-- JQuery -->
<!--   <script   
    src="https://code.jquery.com/jquery-3.1.1.slim.js"   
    integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA="   
    crossorigin="anonymous">
  </script>
 -->
<!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
 -->  
  <!-- Form Js -->
<script>
  $(document).ready(function () {
    console.log("DOCUMENT> READY !!");
    var $player_form = $("#player-form")
    Stripe.setPublishableKey('pk_test_RgnPfafPCKHSojLKReicFHiz');

    $("#sib2").on('click',function (e) {
      console.log("Clicked submit!");
      // Request a token from Stripe:
      Stripe.card.createToken($player_form, stripeResponseHandler);
      // Prevent the form from being submitted:
    });

    function stripeResponseHandler(status, response) {
      // Grab the form:
      //var $player_form = $('#player-form');
      if (response.error) { // Problem!
        console.log("ERROR!");
      } else { // Token was created!
        // Get the token ID:
        var token = response.id;
        console.log("TOKEN: "+ token);
        // Insert the token ID into the form so it gets submitted to the server:
        $player_form.append($('<input type="hidden" name="stripeToken">').val(token));
        // Submit the form:
        $player_form.get(0).submit();
      }
    }
  });
</script>