<div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

  <% if person_signed_in? %>

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Play this tournament!</h4>
      </div>
      <div class="modal-body text-justify">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <%= form_for :player, url: {:controller =>'players', :action => 'create'}, method:'post' do |f| %>

            <%= f.label :'ticket_type_id' %><text class='text-danger'>*</text>
              <select name="player[ticket_type_id]" id="player_ticket_id_ticket_type_id" class="form-control">
                  <%= options_from_collection_for_select(@tournament.ticket_types, 'id', :select_option)%>
              </select>

            <%= f.label 'Quantity' %><text class='text-danger'>*</text><br>
            <%= f.number_field :'numTickets', min: 1, max: @tournament.ticketsLeft, step: 1, value: 1 %>
            <div>
            <br>
            <br>
            </div>

            <%= f.hidden_field :person_id, :value => current_person.id %>
            <%= f.hidden_field :tournament_id, :value => @tournament.id %>

            <!-- TODO: Gotta also not allow this continue if not paid-->

            <%= f.submit 'Proceed to Payment', class: 'btn btn-primary', id: 'add_player_btn'%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!--empty now for spacing purposes-->
      </div>
    </div>

  <% else %>

    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">ERROR</h4>
        </div>
        <div class="modal-body">
          <h3>
          You must be signed in to become a player of this tournament
          </h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
        </div>
      </div>

  <% end %>

  </div>
</div>
