<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile page</title>

    <%= debug @tournaments_players%>
    <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Second Featurette -->
        <div class="featurette" id="services">
          <%= cl_image_tag(@player.profilePicLink, :width => 450, :height => 450, :crop => :fill, :class => 'featurette-image img-circle img-responsive pull-left')%>
            <h2 class="featurette-heading"><%= @player.fName %>
                <span class="text-muted"><%= @player.lName %></span>
            </h2>

            <p><%= @player.email %></p>
            <p><%= @player.birthDate %></p>
            <p><%= @player.twitterLink %></p>
            <p><%= link_to cl_image_tag('logo-facebook.svg'), @player.fbLink %></p>
            <p>ID: <%= @player_id %></p>

        </div>
        <hr class="featurette-divider">
        <!-- Footer we will use the global settings-->
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs float-xs-left">
            <li class="nav-item">
              <a class="nav-link active" href="#">Your Golf Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hosted Tournaments</a>
            </li>
          </ul>
        </div>
        <!--loop through and display the golf courses-->
        <div class="card-block">
          <h4 class="card-title">Golf Course Name</h4>
          <p class="card-text">Address</p>
          <p class="card-text">Email</p>
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
