<div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Photos</h4>
      </div>
      <div class="modal-body text-justify">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <%= form_for :photo, url: {:controller =>'photos', :action => 'create'}, method:'post' do |f| %>
            <%= f.label 'Choose a photo' %>
            <%= f.file_field :photoLink, {class: 'form-control'} %>
            <%= f.hidden_field :tournament_id, :value => @tournament.id %><br>

            <%= f.submit 'Add', class: 'btn btn-primary pull-right', id: 'add_player_btn'%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
