<!DOCTYPE html>
<html>
  <head>
    <title>Cl0ud9</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <style media="screen" type="text/css">
      @media (max-width: 991px) {
          .navbar-header {
              float: none;
          }
          .navbar-toggle {
              display: block;
          }
          .navbar-collapse {
              border-top: 1px solid transparent;
              box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
          }
          .navbar-collapse.collapse {
              display: none!important;
          }
          .navbar-nav {
              float: none!important;
              margin: 7.5px -15px;
          }
          .navbar-nav>li {
              float: none;
          }
          .navbar-nav>li>a {
              padding-top: 10px;
              padding-bottom: 10px;
          }
          .navbar-text {
              float: none;
              margin: 15px 0;
          }
          /* since 3.1.0 */
          .navbar-collapse.collapse.in { 
              display: block!important;
          }
          .collapsing {
              overflow: hidden!important;
          }
      }
    </style>

  </head>

<%= favicon_link_tag "http://res.cloudinary.com/cl0ud9/image/upload/v1480541245/cl0ud9_icon_3_notext_qfmd17.ico" %>

  <body>
    <!--NAVIGATION BAR STARTS-->
    <nav class="navbar navbar-default" style="@grid-float-breakpoint">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="">
          <%= link_to cl_image_tag("http://res.cloudinary.com/cl0ud9/image/upload/c_fill,h_40,w_40/cl0ud9_icon_2"), "/"%>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav">
            <li><%= link_to 'Tournaments', tournaments_path%></li>
          </ul>

          <ul class="nav navbar-nav">
            <li><%= link_to 'Golf Courses', golf_courses_path%></li>
          </ul>

          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Tournaments...">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav pull-right">
            <% if person_signed_in? %>
              <li><a href="/people/<%= current_person.id %>">My Profile</a></li>
              <li><%= link_to 'Log out', destroy_person_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Log In', new_person_session_path %></li>
              <li><%= link_to 'Sign Up', new_person_registration_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--NAVIGATION CONTAINER ENDS-->

    <!-- Alert Container -->
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>

    <!-- Alert Container Ends -->


    <%= yield %>


    <!--Footer-->  
    <footer  style="background: #eee; margin: 60px 0 0 0 ; padding: 20px 0 20px 0 ; height: 100%; width: 100%;">
      
      <div class="container text-center">
        <div class="col-md-6 col-md-offset-3">

          <div>
            <h4>
            Connect with Us:
            </h4>
            <%= link_to cl_image_tag("logo-facebook.svg"), "https://www.facebook.com/Cl0ud9Golf/"%>
            <%= link_to cl_image_tag("logo-instagram.svg"), "https://www.instagram.com/cl0ud9golfing/"%>
            <%= link_to cl_image_tag("logo-twitter.svg"), "https://twitter.com/cl0ud9golf"%>
            <%= link_to cl_image_tag("logo-linkedin.svg"), "https://www.linkedin.com/in/cloud9-golf/"%>
          </div>

          <table class="table">
            <thead>
            <tr>
              <td></td>
              <td><%= link_to "Contact Us", "/contact" %></td>
              <td><%= link_to "FAQ", "/misc_pages/faq" %></td>
              <td></td>
            </tr>
            </thead>
            <thead>
            <tr>
              <td><%= link_to "Features", "/misc_pages/features" %></td>
              <td><%= link_to "Terms of Service", "/misc_pages/terms_of_service" %></td>
              <td><%= link_to "Privacy Policy", "/misc_pages/privacy_policy" %></td>
              <td><%= link_to "Partners", "/misc_pages/partners" %></td>
            </tr>
            </thead>
          </table>
        </div>
      </div>


      <div class="text-center">
        <div>
          Cl0ud9 © 2016
        </div>
        <div>
          <%= link_to "Our Story", "/misc_pages/our_story" %>
        </div>
        <div>
          A University of Toronto Software Engineering Company
        </div>
      </div>
  </body>
</html>
