<!DOCTYPE html>
<html>
  <head>
    <title>Cl0ud9</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!--NAVIGATION BAR STARTS-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Cl0ud9</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Features <span class="sr-only">(current)</span></a></li>
            <li><%= link_to 'Tournaments', tournaments_path%></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Tournaments...">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav pull-right">
            <% if person_signed_in? %>
              <li><%= link_to 'My Profile', ""%></li>
              <li><%= link_to 'Account Settings', edit_person_registration_path %></li>
              <li><%= link_to 'Log out', destroy_person_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Log In', new_person_session_path %></li>
              <li><%= link_to 'Sign Up', new_person_registration_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--NAVIGATION CONTAINER ENDS-->

    <!-- Alert Container -->
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>

    <!-- Alert Container Ends -->


    <%= yield %>


    <!--Footer-->
    <div class="container text-center">
    	<hr />
		  <div class="row">
		    <div class="col-lg-12">
		      <div class="col-md-3">

		  		<h4 class = "text-right">Social</h4>
		        <ul class="nav nav-pills nav-stacked text-right">
	      			<li><%= link_to cl_image_tag("logo-facebook.svg"), "https://www.facebook.com/Cl0ud9Golf/"%></li>
	      			<li><%= link_to cl_image_tag("logo-instagram.svg"), "https://www.instagram.com/cl0ud9golfing/"%></li>
	      			<li><%= link_to cl_image_tag("logo-twitter.svg"), "https://twitter.com/cl0ud9golf"%></li>
	      			<li><%= link_to cl_image_tag("logo-linkedin.svg"), "https://www.linkedin.com/in/cloud9-golf/"%></li>
				</ul>
			  </div>
			  <div class="col-md-3">
			  	<h4 class="text-right">About Cl0ud9</h4>
			  	<ul class="nav nav-pills nav-stacked text-right">
          <li><%= link_to "Our Partners", "" %></li>
          <li><%= link_to "Contact Us", "/contact" %></li>
          <li><%= link_to "Terms of Service", "/misc_pages/terms_of_service" %></li>
			  	<li><%= link_to "Privacy Policy", "/misc_pages/privacy_policy" %></li>
			  	<li><%= link_to "FAQ", "/misc_pages/faq" %></li>
            <li><%= link_to "Partners", "/misc_pages/partners" %></li>
            <li><%= link_to "Features", "/misc_pages/features" %></li>
            <li><%= link_to "Our Story", "/misc_pages/our_story" %></li>

			  	</ul>
			  </div>
			  <div class="col-md-3">
			  	<h4 class="text-right">Site Map</h4>
          <ul class="nav nav-pills nav-stacked text-right">
          <li><%= link_to "Tournaments", "/tournaments" %></li>
          <li><%= link_to "Golf Courses?", "" %></li>
          <li><%= link_to "Players?", "" %></li>
          <li><%= link_to "", "" %></li>
          </ul>
			  </div>
			</div>
		  </div>
		</hr>
    </div>
    <!--Footer Ends-->
  </body>

<script>
  setTimeout(function(){
    $('.alert').fadeOut(3000);
  }, 5000);
</script>
</html>
